body {
      background-image: url("https://unsplash.com/photos/IvFqwzFzBFs");
}
h1,h2 {
    text-align: center;
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}